* {
  margin:0;
  padding:0;
  font-family:"맑은고딕", "Malgun Gothic";
}

.sample {
  padding:20px;
}

h1 {
  margin-bottom:20px;
  padding:10px;
  font-weight:normal;
  font-size:20px;
  border-bottom:1px solid #ccc;
}
/* 공통 버튼 */
.button {
  margin:15px 10px 0;
  padding: 5px 10px;
  color: #666;
  border: 1px solid #ccc;
  cursor: pointer;
}
/* 공통 리스트 */
.ulType {
  margin:0;
}
.ulType li {
  position:relative;
  margin:5px 0;
  padding-left:10px;
  list-style:none;
}
.ulType li:before {
  content:"";
  position: absolute;
  left:0;
  top:50%;
  width:2px;
  height:2px;
  border-radius:2px;
  background:#333;
}

/* 카운터 */
.counter_value {
  width: 167px;
  padding: 25px 0px;
  font-size: 50px;
  text-align: center;
}
.counter_button {
  margin:0 6px;
  padding:10px 20px;
  font-size:14px;
  color:#333;
  border:1px solid #ccc;
  background:#fff;
}

/* 인풋값 */
.input_text {
  border: 1px solid #ccc;
  height: 28px;
  width: 195px;
  margin-right: 5px;
}
.input_first,
.input_last {
  width:122px;
}
.input_button {
  margin-right:5px;
  padding: 5px 10px;
  color: #666;
  border: 1px solid #ccc;
}
.input_result {
  margin: 10px;
  font-size: 16px;
}

/* 유저생성 */
.user_list {
  margin:0 20px;
}
.user_list li {
  position:relative;
  margin:5px 0;
  padding-left:10px;
  list-style:none;
}
.user_list li:before {
  content:"";
  position: absolute;
  left:0;
  top:50%;
  width:2px;
  height:2px;
  border-radius:2px;
  background:#333;
}
.user_list li button {
  margin-left:5px;
  padding: 3px 5px;
  color: #666;
  border: 1px solid #ccc;
}
.user_list li.active {
  color:#ff0000;
}
.user_list_sample {
  margin:15px 0 0;
}